@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
   
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
    max-width: 1440px;  
 
}


   